@import "../colors";
@import "../effects";

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(43, 41, 61);
  color: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: $default-transition;

  .navbar__logo {
    padding: 1rem;
  }

  .navbar__links {
    list-style: none;
    display: flex;

    .navbar__link {
      display: flex;

      a {
        padding: 1rem;
        align-items: center;
        display: flex;
        gap: 8px;
      }

      &:hover,
      &:focus {
        background-color: rgb(27, 26, 41);
      }
    }

    .cartlogo__badge {
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
  .hamburger {
    cursor: pointer;
    display: none;
    margin-right: 1rem;
    padding: 1rem 5px;

    .hamburger__icon {
      position: relative;
      display: block;

      &,
      &:before,
      &:after {
        background-color: $white;
        width: 32px;
        height: 2px;
        transition: $default-transition
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
      }
      &::after {
        top: 8px;
      }
      &::before {
        top: -8px;
      }
    }

    &.active {
      .hamburger__icon {
        background-color: rgba(0, 0, 0, 0);
      }

      .hamburger__icon::before {
        transform: rotate(45deg) translate(6px, 6px);
      }

      .hamburger__icon::after {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }

  @media (max-width: 800px) {
    .navbar__links {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }

  @media (max-width: 414px) {
    font-size: 10px;
    .hamburger {
      .hamburger__icon,
      .hamburger__icon::before,
      .hamburger__icon::after {
        width: 24px;
      }
    }
  }
}
