@import "../effects";
@import "../colors";

.cartpage {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 1rem;
  }

  &>p>a {
    text-decoration: underline;
    color: color(blue, 40);

    &:hover,
    &:focus {
      color: color(blue, 60);
    }
  }

  .container {
    display: flex;
  }

  .cartpage__left {
    flex: 0.8;
  }
  .cartpage__right {
    flex: 0.2;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    background-color: white;
    box-shadow: $default-boxshadow;

    & div {
      padding: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    & div:last-child {
      border: none;
    }

    button {
      width: 100%;
      display: block;
      border-radius: 4px;
      padding: 0.8rem 1.2rem;
      border: 1px solid blueviolet;
      background-color: blueviolet;
      color: $white;
      // font-size: 1rem;

      &:hover,
      &:focus {
        background-color: darkviolet;
        transform: translateY(-1px);
        box-shadow: $default-boxshadow;
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;

    .cartpage__left,
    .cartpage__right {
      flex: 1;
    }

    .cartpage__right {
      margin: 0;
    }
  }
}
